*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    background-color: dimgray;
}

#container {
    background-color: beige;
    border: solid red 20px;
    height: 300px;
    border-radius: 15px;
    width: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0px;
}

#container > div {
    background-color: aqua;
    border: solid grey 1px;
    height: auto;
}
