body {
    background-color: dimgray;
}

#container {
    background-color: beige;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 0px;
}

#container > div {
    background-color: aqua;
    border: solid grey 1px;
    height: auto;
}
